name: jal_setu
description: "A water management and monitoring application."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.7.0

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # Core packages
  get_it: ^7.6.7
  injectable: ^2.3.2
  connectivity_plus: ^5.0.2
  shared_preferences: ^2.2.2
  flutter_bloc: ^8.1.4
  go_router: ^13.2.0
  google_fonts: ^6.1.0
  equatable: ^2.0.5

  # UI packages
  cupertino_icons: ^1.0.8
  image_picker: ^1.1.2
  form_validator: ^2.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  build_runner: ^2.4.8
  injectable_generator: ^2.4.1

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/icons/
    
  fonts:
    - family: Poppins
      fonts:
        - asset: assets/fonts/Poppins-Regular.ttf
        - asset: assets/fonts/Poppins-Medium.ttf
          weight: 500
        - asset: assets/fonts/Poppins-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/Poppins-Bold.ttf
          weight: 700
